## Python implementation of R ediDisplay ci.mean()

In [15]:
import numpy as np
from scipy import stats

def ci_mean(x, ci=0.95):
    x = np.array(x)
    x = x[~np.isnan(x)]

    mean = np.mean(x)
    sd = np.std(x, ddof=1)
    n = len(x)
    se = sd / np.sqrt(n)

    alpha = 1 - ci
    tval = stats.t.ppf(1 - alpha/2, df=n-1)

    lower = mean - tval * se
    upper = mean + tval * se

    return {
      "mean": mean,
      "sd": sd,
      "se": se,
      "ci_lower": lower,
      "ci_upper": upper
    }

## A pretty printer

In [16]:
def print_ci_mean(result):
    print(f"Mean:           {result['mean']:.3f}")
    print(f"SD:             {result['sd']:.3f}")
    print(f"SE:             {result['se']:.3f}")
    print(f"95% CI Lower:   {result['ci_lower']:.3f}")
    print(f"95% CI Upper:   {result['ci_upper']:.3f}")

## Test on the outbreak dataset

In [17]:
import pandas as pd

outbreak_df = pd.read_csv("outbreak.csv")
outbreak_df.head()

,id,sex,age,exptime,beefcurry,saltegg,eclair,water,onset,nausea,vomiting,abdpain,diarrhea
0,1,1,13,2.533083e+13,1,1,1.0,1,2.533083e+13,1,1,1,1
1,2,1,14,2.533083e+13,1,1,0.0,1,NaN,0,0,0,0
2,3,1,13,2.533083e+13,1,1,0.0,1,NaN,0,0,0,0
3,4,1,15,2.533083e+13,1,1,0.5,1,NaN,0,0,0,0
4,5,1,14,2.533083e+13,1,1,0.0,1,NaN,0,0,0,0

In [18]:
print_ci_mean(ci_mean(outbreak_df["age"]))

Mean:           23.691
SD:             19.673
SE:             0.595
95% CI Lower:   22.524
95% CI Upper:   24.858

## Compare to R's output

$mean
[1] 23.69104

$sd
[1] 19.67349

$se
[1] 0.5948025

$ci
[1] 22.52396 24.85813

Yes, it matches!